{% extends 'admin_base.html' %}
{% block title %} novaForma {% endblock %}
{% block extra_style %}
    <style>
        .container{
            margin: 50px auto;
            margin-top: 150px;
            max-width: 500px;
            background-color: #fff;
            padding: 30px;
            box-shadow: 0px 0px 10px rgba(255, 165, 0, 0.5);
        }

        form {
            display: flex;
            flex-direction: column;
        }

        input[type="number"], input[type="text"] {
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            box-shadow: 0px 0px 5px rgba(255, 165, 0, 0.5);
        }

        #popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(255, 165, 0, 0.5);
        }

        #closeBtn {
            margin-top: 10px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            background-color: orange;
            cursor: pointer;
            box-shadow: 0px 0px 5px rgba(255, 165, 0, 0.5);
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="logodiv"><img src="../../static/images/stepbystep.jpeg" alt="Logo" class="logo"></div>
        <h3>Promeni paket {{ paket.naziv }}</h3>
        <form action="/novaForma" id="loginForm" method="POST" onsubmit="showPopup(); return true;">
            <input type="hidden" name="paket_id" value="{{ paket_id }}">
            {% csrf_token %}
            <hr>
            <div class="opcija">
                <label for="1">Broj termina: </label>
                <input type="number" name="br_termina" id="1" required min="1">
            </div>
            <div class="opcija">
                <label for="2">Broj dana: </label>
                <input type="number" name="br_dana" id="2" required min="1">
            </div>
            <div class="opcija">
                <label for="3">Cena: </label>
                <input type="text" name="cena" id="3" required pattern="\d+" placeholder="Cena je u dinarima">
            </div>
            <hr>
            <h3 id="podnaslov">Označiti odgovarajuće tipove treninga</h3>

            {% for trening in treninzi %}
             <div class="opcija">
                <label for="t{{trening.idtre}}">{{ trening.tip }}</label>
                <input type="checkbox" id="t{{trening.idtre }}" value="{{ trening.tip }}" name="{{ trening.tip }}">
             </div>
            {% endfor %}
            <hr>
            <input type="submit" value="Promeni">
        </form>
    </div>
    <div id="popup">
        <p>Uspešno ste promenili paket!</p>
        <button id="closeBtn" onclick="closePopup()">Zatvori</button>
    </div>

    <div>
        <a class="btn"  href="{% url 'logout' %}">LOG OUT</a>
    </div>
{% endblock %}
{% block extra_script %}
    <script>
        function showPopup() {
            document.getElementById('popup').style.display = 'block';
        }
        function closePopup() {
            setTimeout(function () {
                document.getElementById('popup').style.display = 'none';
                window.location.href = "admin.html";
            }, 500);
        }
        function toggleDropdown(dropdownId) {
            var dropdown = document.getElementById(dropdownId);
            if (dropdown.style.display === "none" || dropdown.style.display === "") {
                dropdown.style.display = "block";
            } else {
                dropdown.style.display = "none";
            }
        }
    </script>
{% endblock %}
